# Default ignored files
/shelf/
/.idea
/.idea/*
.DS_Store
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Ignore auxillary python files
/__pycache__
*test.py
/.venv